{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block maincontent %}
<div class="container my-3">
    <h3>
        Welcome To <span class="text-capatalize"> {{request.user}}</span>
    </h3>
    <div class="row ">
        
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <div class='row'>
                {% for ad in add %}
                    <div class='col-sm-6'>
                        <div class='card m-2'>
                            <div class='card-body'>
                                <h3>Adress{{forloop.counter}}</h3>
                                <p>Name: {{ad.name}}</p>
                                <p>Name: {{ad.locality}}</p>
                                <p>Name: {{ad.mobile}}</p>
                                <p>Name: {{ad.city}}</p>
                                <p>Name: {{ad.state}}</p>
                                <p>Name: {{ad.zipcode}}</p>
                                <p class="text-center"><a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-success">Update</a></p>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock maincontent%}